@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

@mixin mobile{
    @media screen and (max-width: 1000px) {
        @content;
    }
}

$mainRed: #EE2937;
$mainGray: #373737;
$mainBlack: #0F0F0F;
$mainWhite: #FFF;

$darkerRed: #B12028;
$lighterBlack: #101010;
$lighterGray: #9E9E9E;

$input: #D6D6D6;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: $mainBlack;
    font-family: 'Poppins', sans-serif;
    
    @include mobile{
        display: none;
    }

}

.Home{
    height: 100vh;
    width: 100vw;

//Nav

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainWhite;

        span{
            img{
                width: 5vw;
                position: relative;
                left: 101px;
                top: 24px;
            }
        }
        
        ul{
            position: relative;
            left: -90px;
            top: 14px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;
            gap: 36px;
            cursor: pointer;
            list-style: none; 

            :hover{
                opacity: 0.6;
                transition: ease-in-out .2s;
                color: $mainRed;
            }

            a{
                text-decoration: none;
                color: $mainWhite;
            }
        }


}

//Textos

.Container{
    margin-bottom: 40vh;
    position: relative;
    left: 101px;
    top: 117px;

    span{
        color: $darkerRed;
    }

    .Text{
        display: flex;
        flex-direction: column;    
        padding-bottom: 30px;

        h1{
            font-size: 35px;
            font-weight: bold;
            padding: 10px 0px;
            color: $mainWhite;
        }
         
        h5{
            font-size: 15px;
            font-weight: normal;
            color: $mainWhite;
        }
    }

    .btn{
    
        display: flex;

        button{
            background-color: $darkerRed;
            border: none;
            outline: none;
            padding: 8px 30px;
            color: $mainWhite;
            font-weight: bold;
            cursor: pointer;
        }
    
        button:hover{
            transition: ease-in-out .1s;
            background-color:$mainRed;
        }
    
        img{
            width: 37px;
            height: 35px;
            cursor: pointer;
        }
        
    }

    .Cover{
        position: absolute;
        left: 57vh;
        top: -16vh;
        img{
            height: 40rem;
            width: 100%;
        }
    }
}

}

.spo{
    position: absolute;
    min-width: 100%;
    margin-top: -50px;
    z-index: 3;
}

.Sobre{
    transition: all 2s;
    display: flex;
    max-width: 300vh;
    min-height: 110vh;
    img{
        width: 40rem;
    }

    .Text{
        text-align: left;
        padding: 100px 120px;

        h2{
            padding-bottom: 30px;
            color: $darkerRed;
        }

        h4{
            font-size: 15px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: normal;

        }

    }
}

.Quote{

    max-height: 18vh;
    background-color: $darkerRed;
    color: $mainWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

    h1{
        font-weight: 600;
        font-style: italic;
    }   

    .Author{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
        span{
            margin-left: 270px;
            font-weight: lighter;
            font-style: italic;
            
        }

        hr{
            background-color: $mainWhite;
            left: 47%;
            width: 1px;
            height: 280px;
            margin-top: 2px;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: $mainWhite;
            transform: rotate(-90deg);  
        }
    }

}

//Topic

.wrapper{
    display: flex;
}




.Form{
    margin-top: -4px;
    padding-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    
    form{
        background-color: rgba(255, 255, 255, 0.4); 
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: grid;
        border-radius: 5px;
        gap: 13px;
        padding: 100px;
        backdrop-filter: blur(5px);
        filter: blur(-1px);
        margin-bottom: 10rem;
        
        h4{
            color: $darkerRed;
            font-size: 40px;
            text-align: start;
            margin-bottom: -25px;
        }
    
        span{
            color: $lighterGray;
            text-align: start;
            font-size: 13px;
            margin-bottom: 10px;
        }

        input{
            z-index: 4;
            min-width: 430px;
            background-color: $mainWhite;
            border: 2px solid $lighterGray;
            padding: 10px;
            background-color: $mainWhite;
            border-radius: 10px;
            color: $mainBlack;
        }

        input::placeholder{
            color: $input;
        }
    }

    button{
        border: 2px solid $darkerRed;
        background-color: transparent;
        margin-top: 5px;
        padding: 10px;
        color: $darkerRed;
        max-width: 260px;
        justify-content: start;
        cursor: pointer;
        font-weight: bold;
    }

    button:hover{
        color: $mainWhite;
        background-color: $darkerRed;
    }
}


.Footer{
    color: $mainWhite;
    display: flex;
    background-color: $lighterBlack;
    width:  100vw;
    height: 17vh;

    .social{
        margin-left: 10px;
        display: flex;
        position: relative;
        top: 60%;

        img{
            width: 24px;
            height: 24px;
        }
    }

    .Imgs{
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;

        img{
            padding: 40px;
        }

        span{
            font-size: 10px;
        }
    }
}
// 